<h1>Login</h1>
<%= form_tag '/login' do %>
  <form class="form-horizontal">
    <div class="row">
      <div class="form-group">
        <%= label_tag :email, 'Email', class:"col-sm-2 control-label" %>
        <%= text_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>

    <div class="form-group">
      <%= label_tag :password, 'Password', class:"col-sm-2 control-label" %>
      <%= text_field :password, class: 'form-control', placeholder: 'Password' %> 
    </div>

    <div class="form-group col-xs-8 ">
      <%= submit_tag "Submit", class: 'btn btn-primary' %>
    </div>

  <% end %>
  </div>
</form>


